@import './app.less';
*,  
::before,  
::after{  
    margin: 0;  
    padding: 0;  
      
    /*清除移动端默认的 点击高亮效果*/  
    -webkit-tap-highlight-color: transparent;  
    /*设置所有的都是以边框开始计算宽度 百分比*/  
    -webkit-box-sizing: border-box;  
    box-sizing: border-box;  
}  
  
body,html{  
    font-size: 12px;  
    font-family: "MicroSoft YaHei",sans-serif;  
    color: #333;  
    width: 100%;
    height: 100%;
    overflow: hidden;
}  
  
a{  
    color: #333;  
}  
  
a:hover{  
    text-decoration: none;  
}  
  
input{  
    border: none;  
    outline: none;  
    /*清除移动端默认的表单样式*/  
    -webkit-appearance: none;  
}  
  
ul,ol{  
    list-style: none;  
}  
  
.f_left{  
    float: left;  
}  
  
.f_right{  
    float: right;  
}  
  
.clearfix::before,  
.clearfix::after{  
    content: "";  
    height: 0;  
    line-height: 0;  
    display: block;  
    visibility: hidden;  
    clear: both;  
} 
.page{
    width: 100%;
    height: 100%;
    margin:0px auto;
    padding-top: 40px;
    text-align: center;
}
.mint-header{
    position: fixed !important;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
}
